@tailwind base;
@tailwind components;
@tailwind utilities;

.mapa {
  height: 100vh;
}

.leaflet-container {
  height: 100vh;
}

.map__container {
  width: 100%;
  height: 100%;
}

.map-container {
  height: 100%;
  width: 100%;
}

.leaflet-popup-content {
  margin: 0px !important;
  /* line-height: 1.3; */
  /* font-size: 13px; */
  /* font-size: 1.08333em; */
  /* min-height: 1px; */
}

.leaflet-tooltip {
  padding: 0px !important;
}


